:root {
    --white: #fff;
    --semi-transparent-white: #d7ccc0;
    --light: #f5f4f0;
    --basic: #fe8a02;
    --basic-dark: #42413c;
    --dark: #2a2626;
    --semi-transparent-dark:#908d8b;
    --brown: #b09a81;
    --blue: #1085c5; 
}


@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: Neucha;
    src: url(Neucha-Regular.ttf);
}



.content {
    width: 1110px;
    margin: 0 100px 0 100px;
}

h1,
h2,
h3 {
    font-family: Neucha;
    line-height: 1.2em;
}

h1 {
   font-size: 72px; 
}

h2{
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.light {
    background-color: var(--light);
}
.light h1::before {
    position: absolute;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    content: " ";
}
 
.image {
    position: absolute;
    top: 55px;
    right: -270px;
    height: 525px;
    max-width: 100%;
}

.text {
    column-count: 2;
    column-gap: 30px;
}

.button {
    background-color: var(--basic);
    margin: 24px 12px;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans';
}