:root {
    --white: #fff;
    --semi-transparent-white: #d7ccc0;
    --light: #f5f4f0;
    --basic: #fe8a02;
    --basic-dark: #42413c;
    --dark: #2a2626;
    --semi-transparent-dark:#908d8b;
    --brown: #b09a81;
    --blue: #1085c5; 
}


@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: Neucha;
    src: url(Neucha-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    /*color: var(--dark);*/
    line-height: 1.6em;
    font-size: 16px;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.page {
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
header {
    position: relative;
    height: 100vh;
}

.background-image::before {
    position: absolute;
    top: 0;
    left: -165px;
    content: " ";
    background-image: url(images/background.png);
    height: 100%;
    width: 100vw;
    opacity: 10%;
    
}

.content {
    width: 1110px;
    padding: 100px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
h1,
h2,
h3 {
    display: block;
    font-family: Neucha;
    line-height: 1.2em;
    width: 100%;
    color: var(--basic);
    
}

h1 {
   
   font-size: 72px; 
}

h2{
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.title-black {
    color: var(--dark);
    
    display: block;
}

.title-white {
    color: var(--white);
    font: inherit;
    display: block;
}
a {
    text-decoration: none;
}

.light {
    background-color: var(--light);
    
}
.dark {
    background-color: var(--basic-dark);
}

.brown {
    background-color: var(--brown);

}
p {
    margin-bottom: 15px;
    color: var(--dark);
}
#image{
    display: inline-block;
    position: absolute;
    top: 55px;
    right: -270px;
    height: 525px;
    max-width: 100%;
}

.column {
    margin-top: 0;
    column-count: 2;
    column-gap: 30px;
    
}

.column div {
    break-inside: avoid;
}


.button {
    display: block;
    
    background-color: var(--basic);
    padding: 12px 24px;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans';
    border: none;
}




.media{
    background-color: var(--white);
}

.video {
    position: relative;
    z-index: 1;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%)); 

}
.media .content h1 {
    text-align: center;
}

.media-video p {
    text-align: center;
}

.media-video p {
    margin: 30px 0;
}
#navigation .title h3 {
    text-align: left;
    font-size: 52px;
    font-weight: 400;
}



#navigation {
    position: relative;
    top: -200px;
    z-index: 0;
    height: 991px;
}
#navigation .content {
    position: relative;
    top: 100px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card.title {
    padding: 0;
}
.card {
    box-sizing: border-box;
    flex-basis: 350px; /* было 300px*/
    height: 343px;
    padding: 24px;
    
} 

.card p {
    text-align: left;
    margin-bottom: 0;
}

.card.light .orange {
    font-size: 34px;
    font-family: Neucha;
    line-height: 1.2em;
    padding-bottom: 23px;
}

.number {
    margin-bottom: 40px;
    font-size: 64px;
    font-family: Neucha;
    line-height: 1;
    color: var(--basic-dark);
}

.higher {
    position: relative;
    top: -200px;
}
.image {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%)); 
    position: relative;
    z-index: 1;
    margin-right: 20px;
    vertical-align: middle;
}
.article-introduction {
    display: flex;
    justify-content: space-between;
}

.brown p{
    color: var(--white);
}

.article-description p:first-child {
    font-family: Neucha;
    font-size: 24px;
    text-align: left;
}
.page.light .article-description p:first-child {
    color: var(--semi-transparent-dark);
}

.page.brown .article-description p:first-child {
    color: var(--semi-transparent-white);
}
.article-description p:last-child {
    margin-top: 30px;
    text-align: left;
    font-family: Neucha;
    font-size: 34px;
    line-height: 1.2em;
}

.page.light .article-description p:last-child{
    color: var(--dark);
}

.page.brown .article-description p:last-child{
    color: var(--white);
}

.information-title {
    box-sizing: border-box;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
}
.brown-title{
    background-color: var(--brown);
    color: var(--white);
}

.white-title{
    background-color: var(--white);
    color: var(--brown);
}

.page.brown .article-description h2 {
    color: var(--white);
}

/** убрать класс орнажевый так как то основной
что.то сделать с заголовками, цифрами на корточка
и текст везде
**/

